In [2]:
# Q1. Create one variable containing following type of data:
#    (i)	string
#    (ii)	list
#    (iii)	float
#    (iv)	tuple
# Answer:
#(1) How to make string data type
a = "Dushyant"  # This is a string 
print(a)
print(type(a))


#(2) How to make list
l = [1,2,3,3.4,"Dushyant",True,"Pwskill",'d'] # This is a list . list is mutable
print(l) 
print(type(l))

#(3) How to make a float data type
b = 5.7
print(b) # This is float data type
print(type(b))

#(4) How to make tuple
t = (1,2,3,2.3,"pwskill","Shudhanshu", True,'j')
print(t) #This is a tuple. tuple is immutable
print(type(t))

Dushyant
<class 'str'>
[1, 2, 3, 3.4, 'Dushyant', True, 'Pwskill', 'd']
<class 'list'>
5.7
<class 'float'>
(1, 2, 3, 2.3, 'pwskill', 'Shudhanshu', True, 'j')
<class 'tuple'>

In [3]:
# Q2. Given are some following variables containing data:
#    (i)	var1 = ‘ ‘
#    (ii)	var2 = ‘[ DS , ML , Python]’
#    (iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#    (iv)	var4 = 1.

# What will be the data type of the above given variable.
# Answer:
var1 = '' # This is string data type
print(type(var1))

var2 = '[DS, ML , Python]' # This is a string data type
print(type(var2))

var3 = ['DS', 'ML' , 'Python'] #This is a list
print(type(var3))

var4 = 1 # This is an int data type
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [4]:
# Q3. Explain the use of the following operators using an example:
# (i)	/
# (ii)	% 
# (iii)	//
# (iv)	**
# Answer:
#(1)  '/' This is a divide operater
# for example
a = 15
b = 5
print(a/b)

#(2) '%' This a normal modulo operater
# for example
a1 = 15
b1 = 2
c = a1%b1
print(c)

#(3) '//' This is a floor division
# for example
a2 = 27
b2 = 2
c1 = a2//b2
print(c1)

#(4) '**' This is a power operater
# for example
print(4**2)

3.0
1
13
16

In [5]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#     element and its data type.
# Answer:
l = [1,2,3,3.4,"Dushyant",True, "pwskill", 'd', (1,2,3), 5]
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
3.4
<class 'float'>
Dushyant
<class 'str'>
True
<class 'bool'>
pwskill
<class 'str'>
d
<class 'str'>
(1, 2, 3)
<class 'tuple'>
5
<class 'int'>

In [7]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#     times it can be divisible.
# Answer:
a = int(input("Enter the value of a is: "))
b = int(input("Enter the value of b is: "))
if(a%b==0):
    print("a is divisible by b in",a//b, "times")
else:
    print("a is not purely divisible by b")

Enter the value of a is:  345
Enter the value of b is:  567

a is not purely divisible by b

In [9]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#     divisible by 3 or not.
# Answer:
l = [1,2,3,4,5,6,7,8,9,12,22,23,34,45,56,67,78,89,123,345,567,789,12345,5678]
for i in l:
    if(i%3==0):
        print("Yes", i ," is divisible by 3")
    else:
        print("Yes", i ," is not divisible by 3")

Yes 1  is not divisible by 3
Yes 2  is not divisible by 3
Yes 3  is divisible by 3
Yes 4  is not divisible by 3
Yes 5  is not divisible by 3
Yes 6  is divisible by 3
Yes 7  is not divisible by 3
Yes 8  is not divisible by 3
Yes 9  is divisible by 3
Yes 12  is divisible by 3
Yes 22  is not divisible by 3
Yes 23  is not divisible by 3
Yes 34  is not divisible by 3
Yes 45  is divisible by 3
Yes 56  is not divisible by 3
Yes 67  is not divisible by 3
Yes 78  is divisible by 3
Yes 89  is not divisible by 3
Yes 123  is divisible by 3
Yes 345  is divisible by 3
Yes 567  is divisible by 3
Yes 789  is divisible by 3
Yes 12345  is divisible by 3
Yes 5678  is not divisible by 3

In [ ]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#     this property.
# Answer:
# MUTABLE ----->"An object that allows you to change its value without changing its identity "
# for example , list is mutable object
l = [1,2,3,4,5,6,7,8,9]
print(l) #old list
l.append("pwskill")
print(l) # new list

# IMMUTABLE---->"An object that NOT allows you to chnage its value without changing its identity"
# for example , tuple is immutable object
t = (9,8,7,6,5,4,3,2,1)
print(t) # this cannot be change